body {
    background-color: #ffffe5;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
}

.Text {
    border-bottom: solid 5px #b8ddc4;
    border-left: solid 5px #acdfb1;
    background-color: #b4e0b6;
    color: #f8818a;
    width: 45%;
    padding: 10px;
}

.img {
    border: double 10px #b0e7bc;
    padding: 0px;
}